<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
   </head>
   <body>
      <div class="row expanded">
         <div class="small-12 column">
             <p>Welcome <strong><%= user.username %></strong> <a href="/signout" title="sign out">sign out</a></p>
         </div>
      </div>
      <p>

      </p>
   </body>
</html>